<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-insurance-object-heading" jhiTranslate="insuranceApplicationApp.insuranceObject.home.createOrEditLabel">Create or edit a Insurance Object</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceApplicationApp.insuranceObject.identifier1" for="field_identifier1">Identifier 1</label>
                    <input type="text" class="form-control" name="identifier1" id="field_identifier1"
                           formControlName="identifier1"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceApplicationApp.insuranceObject.identifier2" for="field_identifier2">Identifier 2</label>
                    <input type="text" class="form-control" name="identifier2" id="field_identifier2"
                           formControlName="identifier2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="insuranceApplicationApp.insuranceObject.identifier3" for="field_identifier3">Identifier 3</label>
                    <input type="text" class="form-control" name="identifier3" id="field_identifier3"
                           formControlName="identifier3"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
