<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="insuranceSpecification">
            <h2><span jhiTranslate="insuranceApplicationApp.insuranceSpecification.detail.title">Insurance Specification</span> {{ insuranceSpecification.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="insuranceApplicationApp.insuranceSpecification.code">Code</span></dt>
                <dd>
                    <span>{{ insuranceSpecification.code }}</span>
                </dd>
                <dt><span jhiTranslate="insuranceApplicationApp.insuranceSpecification.descriptionAr">Description Ar</span></dt>
                <dd>
                    <span>{{ insuranceSpecification.descriptionAr }}</span>
                </dd>
                <dt><span jhiTranslate="insuranceApplicationApp.insuranceSpecification.descriptionEn">Description En</span></dt>
                <dd>
                    <span>{{ insuranceSpecification.descriptionEn }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/insurance-specification', insuranceSpecification.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
